/AutismStrategy.class
/ExplorerStrategy.class
/FollowerStrategy.class
/RangerStrategy.class
/ReproductionStrategy.class
/SheepStrategy.class
/SpearmanStrategy.class
/StrategyFactory.class
/ThugStrategy.class
/TrampStrategy.class
